@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Activities List Project</h1>
    <div>
        <h2>Press the 'Activities' tab on the Navbar to Continue</h2>
    </div>
</div>
